spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tonydon_blog
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: Tonydontxyqljfwqmysql
  redis:
    host: localhost
    port: 6379
    password: Tonydontxyqljfwqredis
    lettuce:
      pool:
        max-active: 8     # 最大连接
        max-idle: 8       # 最大空闲连接
        min-idle: 0       # 最小空闲连接
        max-wait: 100ms   # 连接等待时间