# Spring 配置
spring:
  # 激活配置
  profiles:
    active: pro


# 服务器配置
server:
  port: 8011
  servlet:
    context-path: /user

# MyBatis Plus
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: deleted

# 日志文件
logging:
  file:
    name: temp.log
  logback:
    rollingpolicy:
      max-file-size: 256KB
      file-name-pattern: server.%d{yyyy-MM-dd}.%i.log
      max-history: 7
  level:
    top.tonydon.mapper: debug