server:
  port: 8011
  servlet:
    context-path: /user


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tonydon_blog
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
  redis:
    host: 192.168.88.132
    port: 6379
    password: 123321
    lettuce:
      pool:
        max-active: 8     # 最大连接
        max-idle: 8       # 最大空闲连接
        min-idle: 0       # 最小空闲连接
        max-wait: 100ms   # 连接等待时间

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto
      logic-delete-value: 1
      logic-delete-field: delFlag
      logic-not-delete-value: 0
