# Spring 配置
spring:
  # 激活配置
  profiles:
    active: dev
  servlet:
    # 上传配置
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB

# 服务器配置
server:
  port: 6515
  servlet:
    context-path: /admin

# MyBatis Plus
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: deleted

# 日志文件
logging:
  file:
    name: temp.log
  logback:
    rollingpolicy:
      max-file-size: 256KB
      file-name-pattern: server.%d{yyyy-MM-dd}.%i.log
  level:
    top.tonydon.mapper: debug